#about {
  background-color: $about-background-color;

  .section-header {
    background-color: $about-accent-color;
    -webkit-clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  }

  .section-content {
    color: white;
    @media only screen and (min-width: 1000px) {
    }
  }

  .subsection-left {
    padding-bottom: 200px;
    text-align: left;
    display: grid;
    grid-template-areas: "header header"
                          "text icon"
                          "text icon";
    grid-template-columns: 2fr 1fr;

    .subsection-underline-right {
      display: none;
    }

    @media only screen and (max-width: 600px) {
      grid-template-areas: "icon"
                           "header"
                           "text";
      grid-template-columns: 1fr;
      padding-bottom: 75px;
    }

    @media only screen and (max-width: 500px) {
      .subsection-underline-right {
        display: block;
        width: 80%;
        margin-left: 10%;
      }

      .subsection-underline-left {
        display: none;
      }
    }


  }

  .subsection-right {
    padding-bottom: 150px;
    text-align: right;
    display: grid;
    grid-template-areas: "header header"
                          "icon text"
                          "icon text";
    grid-template-columns: 1fr 2fr;

    @media only screen and (max-width: 600px) {
      grid-template-areas: "icon"
                           "header"
                           "text";
      grid-template-columns: 1fr;
      text-align: left;
    }

    @media only screen and (max-width: 500px) {
      .subsection-underline-right {
        width: 80%;
        margin-left: 10%;
      }

    }
  }

  .subsection-header {
    grid-area: header;
    padding-bottom: 10px;

    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }

  .subsection-underline-left, .subsection-underline-right {
    background-color: $yellow;
    width: 100%;
    height: 3px;
    margin-top: 10px;
  }

  .subsection-underline-right

  .subsection-text {
    display: inline-block;
    grid-area: text;

    p {
      margin-top: 25px;
    }
  }

  .subsection-icon {
    text-align: center;
    display: inline-block;
    float: right;
    grid-area: icon;

    img {
      margin: 25px;
      height: 150px;
      width: 150px;

      @media only screen and (max-width: 600px) {
        margin-bottom: 25px;
        width: 100px;
        height: 100px;
      }
    }

    @media only screen and (max-width: 600px) {
      margin-left: 0px;
    }
  }
}
