#about {
  background-color: $about-background-color;
  color: $white;

  .section-header {
    color: $about-text-color;
    text-align: left;
    padding: 5%;
    padding-top: 10%;
    transform: rotate(-5deg);
  }

  .section-content {
    padding: 5%;
  }

  .subsection-icon {
    text-align: center;
    display: inline-block;
    float: right;
    grid-area: icon;

    img {
      width: 250px;

      @media only screen and (max-width: 900px) {
        width: 200px;
        margin-bottom: 25px;
      }

      @media only screen and (max-width: 700px) {
        width: 150px;
        margin-bottom: 25px;
      }
    }
  }

  .subsection-header {
    text-transform: uppercase;
    border-bottom: 5px solid $about-accent-color;
    margin-bottom: 25px;
  }

  .subsection {
    padding-bottom: 100px;
  }

  .subsection-left {
    text-align: left;
    display: grid;
    grid-template-areas: "header header"
                          "text icon"
                          "text icon";
    grid-template-columns: 2fr 1fr;

    .subsection-underline-right {
      display: none;
    }

    @media only screen and (max-width: 600px) {
      grid-template-areas: "icon"
                           "header"
                           "text";
      grid-template-columns: 1fr;
    }

    @media only screen and (max-width: 500px) {
      .subsection-underline-right {
        display: block;
        width: 80%;
        margin-left: 10%;
      }

      .subsection-underline-left {
        display: none;
      }
    }
  }

  .subsection-right {
    text-align: right;
    display: grid;
    grid-template-areas: "header header"
                          "icon text"
                          "icon text";
    grid-template-columns: 1fr 2fr;

    @media only screen and (max-width: 600px) {
      grid-template-areas: "icon"
                           "header"
                           "text";
      grid-template-columns: 1fr;
      text-align: left;
    }

    @media only screen and (max-width: 500px) {
      .subsection-underline-right {
        width: 80%;
        margin-left: 10%;
      }

    }
  }

  .subsection-header {
    grid-area: header;
    padding-bottom: 10px;

    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }

  .subsection-underline-left, .subsection-underline-right {
    background-color: red;
    width: 100%;
    height: 3px;
    margin-top: 10px;
  }

  .subsection-text {
    display: inline-block;
    grid-area: text;

    p {
      margin-top: 25px;
    }
  }

}
