.about {
  background-color: $about-background-color;

  .section-header {
    background-color: $about-accent-color;
  }

  .section-content {
    color: white;

    @media only screen and (min-width: 1000px) {
      margin-right: 20%;
    }
  }

  .subsection-left {
    padding-bottom: 200px;
    text-align: left;
    display: grid;
    grid-template-areas: "header header"
                          "text icon"
                          "text icon";
    grid-template-columns: 2fr 1fr;

    @media only screen and (max-width: 600px) {
      grid-template-areas: "icon"
                           "header"
                           "text";
      grid-template-columns: 1fr;
      padding-bottom: 75px;
    }
  }

  .subsection-right {
    padding-bottom: 150px;
    text-align: right;
    display: grid;
    grid-template-areas: "header header"
                          "icon text"
                          "icon text";
    grid-template-columns: 1fr 2fr;

    @media only screen and (max-width: 600px) {
      grid-template-areas: "icon"
                           "header"
                           "text";
      grid-template-columns: 1fr;
    }
  }

  .subsection-header {
    grid-area: header;
    padding-bottom: 10px;
  }

  .subsection-underline {
    background-color: $yellow;
    width: 100%;
    height: 3px;
  }

  .subsection-text {
    display: inline-block;
    grid-area: text;

    p {
      margin-top: 25px;
    }
  }

  .subsection-icon {
    text-align: center;
    display: inline-block;
    float: right;
    grid-area: icon;

    img {
      margin: 25px;
      height: 150px;
      width: 150px;
    }

    @media only screen and (max-width: 600px) {
      margin-left: 0px;
    }
  }
}
