footer {
  width: 100%;
  background-color: $coral !important;
  height: 75px !important;
  text-align: center;
}

.footer-text {
  color: white;
  font-size: 1.8rem;
  font-family: $body-font;
  line-height: 75px;
}
