footer {
  width: 100%;
  background-color: $white;
  height: 75px !important;
  text-align: center;
}

.footer-text {
  color: $dark-gray;

  p {
    font-size: 1.2rem;
    font-family: $body-font;
    line-height: 75px;
  }

}
