.not-found {
  background-color: $coral;

  h2 {
    color: red !important;
    background-color: $coral !important;
  }
  color: red;
  height: 100vh;
  width: 100%;
  background-color: $coral !important;
}

.notfound-text {
  color: blue !important;
}
