$lato: 'Lato', sans-serif;
$rocksalt: 'Rock Salt', cursive;
$opensanscondensed: 'Open Sans Condensed', sans-serif;

$title-font: $rocksalt;
$header-font: $opensanscondensed;
$body-font: $opensanscondensed;

$white: #f9f7f5;
$tomato: #fc3c4c;
$crimson: #c72014;
$burnt-orange: #e26c23;
$orange: #F78D33;
$seafoam: #a2dcc7;
$khaki: #c9ab67;
$dark-gray: #3D3D3D;

$about-background-color: $orange;
$about-text-color: $white;
$about-accent-color: $burnt-orange;

$work-background-color: $white;
$work-accent-color: $seafoam;

$contact-background-color: $dark-gray;
$contact-accent-color: pink;
