
$josefin: 'Josefin Sans', sans-serif;
$lato: 'Lato', sans-serif;
$poppins: 'Poppins', sans-serif;

$header-font: $poppins;
$body-font: $lato;

$dark-gray: #3D3D3D;

$yellow: #FCD231;
$cyan: #00BCD4;
$coral: #fd5e60;

$about-background-color: $dark-gray;
$about-accent-color: $cyan;

$work-background-color: white;
$work-accent-color: $cyan;

$contact-background-color: $dark-gray;
$contact-accent-color: pink;
