
$josefin: 'Josefin Sans', sans-serif;
$lato: 'Lato', sans-serif;

$header-font: $josefin;
$body-font: $lato;

$dark-gray: #3D3D3D;

$about-background-color: $dark-gray;
$work-background-color: white;
$contact-background-color: $dark-gray;
