#work {
  margin-top: -50px;
  background-color: $work-background-color;

  .section-header {
    background-color: $coral;
    -webkit-clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  }

  .section-content {
    color: $dark-gray;
  }

  .portfolio-item {
    margin-bottom: 150px;
    display: grid;
    grid-template-areas: "title description"
                          "image image";
    grid-template-columns: 1fr 2fr;

    @media screen and (max-width: 500px) {
      grid-template-areas: "title"
                            "description"
                            "image";
      grid-template-columns: 1fr;
      margin-bottom: 100px;
    }
  }

  .portfolio-item-title {
    grid-area: title;
    margin-right: 20px;
  }

  .portfolio-item-description {
    grid-area: description;

    @media screen and (max-width: 500px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .portfolio-item-image {
    grid-area: image;
    text-align: center;

    img {
      width: 80%;
    }
  }

}
