#work {
  background-color: $work-background-color;
  color: $dark-gray;

  .section-header {
    color: $work-accent-color;
    text-align: left;
    padding: 5%;
    padding-top: 10%;
    transform: rotate(-5deg);
  }

  .section-content {
    padding: 5%;
  }

  .portfolio-item {
    margin-bottom: 150px;
    display: grid;
    grid-template-areas: "title description"
                          "video video";
    grid-template-columns: 1fr 2fr;

    @media screen and (max-width: 500px) {
      grid-template-areas: "title"
                            "description"
                            "video";
      grid-template-columns: 1fr;
      margin-bottom: 100px;
    }
  }

  .portfolio-item-title {
    grid-area: title;
    margin-right: 20px;

    @media screen and (max-width: 600px) {
      text-align: center;
    }
  }

  .portfolio-item-description {
    grid-area: description;

    @media screen and (max-width: 500px) {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  .portfolio-item-video {
    grid-area: video;
    text-align: center;

    img {
      width: 300px;
      margin-top: 20px;
      margin-bottom: 20px;

      @media (min-width: 699px) {
        display: none;
      }
    }

    video {
      display: none;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      margin: 50px auto;
      width: 500px;
      transition: all 0.2s ease-in-out;

      @media (min-width: 700px) {
        display: inline-block;
      }
    }

    video:hover {
      opacity: 0.5;
    }
  }

}
